[submodule "3rdparty/scintilla"]
	path = 3rdparty/scintilla
	url = https://github.com/missdeer/scintilla.git
	branch = master
[submodule "3rdparty/lexilla"]
	path = 3rdparty/lexilla
	url = https://github.com/ScintillaOrg/lexilla.git
